@use '../style/colors.scss';

#tracking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);

    padding: 80px 20px 20px;
    background-color: colors.$secondary;

    section.intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 450px;
    
        padding: 30px 20px;
        color: colors.$light;
    

        h2 {
            margin: 20px 20px 0px;
    
            font-size: 2em;
            text-align: left;
            text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    
            @media screen and (max-width: 650px) {
                font-size: 1.8em;
            }
        }
    
        & > p {
            width: 100%;
            padding: 10px 20px;
    
            font-size: 1.4em;
            text-align: right;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
            @media screen and (max-width: 650px) {
                font-size: 1.1em;
            }
        }
    }

    section#trackingPanel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;

        background-color: colors.$light;
        
        div.trackingSelection {
            max-width: 450px;
            padding: 30px 20px 50px;

            h3 {
                padding: 20px 20px 20px;
        
                font-size: 1.6em;
                text-align: left;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
        
                @media screen and (max-width: 650px) {
                    font-size: 1.4em;
                }
            }

        }
    }
}