$primary: rgb(59, 39, 29);
$secondary: rgb(160, 94, 43);
$tertiary: rgb(175, 115, 74);
$light: rgb(239, 224, 187);
$dark: rgba(28, 28, 35, 1);
$error: rgb(220, 40, 40);
$attention: rgb(175, 115, 74);

$primary-t: rgba(59, 39, 29, 0.85);
$secondary-t: rgb(160, 94, 43, 0.7);
$tertiary-t: rgba(175, 115, 74, 0.6);
$light-t: rgba(229, 224, 228, 0.5);
$dark-t: rgba(28, 28, 35, 0.9);
