@use '../style/colors.scss';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    position: relative;
    z-index: 90;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    
    padding: 0px 50px;
    background-image: linear-gradient(0deg, colors.$primary-dark-t 35%, colors.$secondary-dark-t 90%), url('../media/pic/hero-image.webp');
    background-size: cover;
    background-attachment: fixed;
    
    animation: fadeIn 500ms ease-out;
    
    @media screen and (max-width: 650px) {
        flex-direction: column-reverse;
        justify-content: space-around;

        padding: 40px 50px 40px;
    }
    
    @media screen and (max-width: 470px) {
        padding: 40px 30px 40px;
    }
    
    div {
        text-align: center;
        color: colors.$light;

        h1 {
            margin: 10px;

            font-size: 14em;
            text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.9);

        }
        h2 {
            margin: 5px;

            font-size: 6em;
            text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.7);
        }

        h3 {
            font-size: 2.2em;
            font-weight: 500;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        }

        @media screen and (max-width: 950px) {
            h1 {
                font-size: 12em;
            }

            h2 {
                font-size: 3.2em;
            }
    
            h3 {
                font-size: 1.6em;
            }
        }

        @media screen and (max-width: 500px) {
            h1 {
                font-size: 8em;
            }

            h2 {
                font-size: 2.4em;
            }
    
            h3 {
                font-size: 1.6em;
            }
        }

    }

}
