@use '../style/colors.scss';

.nav-link {
    padding: 12px 5px;
    border-radius: 3px;

    font-size: 19px;
    text-transform: uppercase;

    transition: background-color 150ms linear, padding 200ms ease-in-out;

    &:hover {
        background-color: colors.$tertiary-t;
        padding: 18px 5px;
    }
}